body{
    background-color:#051C24 ;
    color : white;
    text-align: justify;
    font-size: 20px;
}

h1{
    font-size:40px;
}

.notreh1{
    color:red;
    text-align: center;
    font-size: 50px;
}



a{
    color: #04BBFF;
    text-decoration: none;
    transition-duration: 0.2s;
}

ul{
    list-style-type: none;
}

.test{
    list-style-type: decimal;
    color : #0594D0;
}

.test li a {
    color : #04BBFF;
    transition-duration: 0.2s;
}

.test li a:hover {
    color:red;
    transition-duration: 0.2s;
    text-decoration: underline;
}

a:hover{
    color:red;
    transition-duration: 0.2s;
    text-decoration: underline;
}


figure {
    float: left;
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.4em;
    padding: 0.4em;
  }
  img{
    width: 200px;
    max-height: 100px;
  }

  div{
    font-style: italic;
  }

  .jpp{
    background-color:#0b3b4b;
    color: white;
  }

